header{
    text-align: center;
}

img{
   
    width: 100%;   
    display: block;
    max-width: 100%; 
    
}

h6{
    text-align: center;
    margin-top: auto;
}

header h2{
    text-align: center;
}

body{
    margin: 16px;
    font-size: 18px;
    line-height: 25px;
    font-family: monospace;
    
}

ul{
    text-align: left;
}

nav ul li{
    display: inline-block;
    margin-right: 10%;
}

a{
    text-decoration: none;
}

article h3, h4{
    text-align: center;
}

.tabela{
    text-align: center;
    display: inline-block;
    table-layout: auto;
    padding-left: 42%;
}
  
  table, th, td {
    border: 1px solid rgb(180, 178, 178);
    
  }
  
  table {
    width: 100%;
  }

  aside, footer, nav, main {
    border-top: 2px rgb(0, 0, 0) solid;
  }

.centered {
  margin: 0 auto;
}

.header {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
}


nav ul {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul li a {
  padding: 5px 10px;
  text-decoration: none;
}

aside{
    width: auto;
    height: auto;
}
